<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="ecommerce" transaction-type="RESOURCE_LOCAL">

        <class>com.company.ecommerce.entity.SubCategory</class>
        <class>com.company.ecommerce.entity.Category</class>
        <class>com.company.ecommerce.entity.Product</class>
        <class>com.company.ecommerce.entity.Order</class>
        <class>com.company.ecommerce.entity.Address</class>
        <class>com.company.ecommerce.entity.ShoppingCard</class>
        <class>com.company.ecommerce.entity.Payment</class>
        <class>com.company.ecommerce.entity.Customer</class>
        <class>com.company.ecommerce.entity.LineItem</class>
        <class>com.company.ecommerce.entity.Account</class>
        <class>com.company.ecommerce.entity.Phone</class>
        <class>com.company.ecommerce.entity.Documents</class>
    </persistence-unit>
</persistence>
